<div class="row">
	<div class="span4">
		<h3>User in course</h3>
		<%= render 'shared/list_subjects' %>
	</div>
	<div class="span4">
		<h3>User in course</h3>
		<%= render 'shared/users_in_course' %>
	</div>
</div>